<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management Tool</title>
</head>
<body>
    <div>
        <h1>Employee Detail:</h1>

                {% block content %}
                <p>Employee Name: {{detail.First_Name}} {{detail.Last_Name}}</p><br>
                <p>Employee ID: {{detail.Employee_ID}}</p><br>
                <p>Age:{{age}}</p><br>
                <p>Email:{{detail.Email}}</p><br>
                <p>Email:{{detail.Email}}</p><br>
                <p>Phone Number:{{detail.phone_number}}</p><br>
                {% endblock content %}
    </div>
</body>
</html>